node_modules
.env
.env.local
.env.production
.next
dist
coverage
deployments/*.json
packages/contracts/.env
packages/contracts/artifacts
packages/contracts/cache
packages/contracts/typechain-types
packages/contracts/coverage.json
packages/contracts/coverage
.turbo
